/**
 * Fonts section
 **/

@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,400|Raleway);

/* OFTN Aller is a modified version of Aller with an empty set and a raised colon.
   Aller is copyright Dalton Maag Ltd, http://www.daltonmaag.com/ */
@font-face {
	font-family: "OFTN Aller";
	src: url("../fonts/OFTN-Aller-Bold.woff") format("woff"),
		url("../fonts/OFTN-Aller-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "OFTN Aller";
	src: url("../fonts/OFTN-Aller.woff") format("woff"),
	     url("../fonts/OFTN-Aller.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/**
 * Base styles section
 **/

body {
	background: #FFF none no-repeat fixed top left;
	background-image: -webkit-gradient(linear, 100% 0%, 100% 100%, from(#EEE), color-stop(25%, #FFF), color-stop(75%, #FFF), to(#EEE));
	background-image: -webkit-linear-gradient(top, #EEE, #FFF, #FFF, #EEE);
	background-image: -moz-linear-gradient(top, #EEE, #FFF, #FFF, #EEE);
	background-image: -o-linear-gradient(top, #EEE, #FFF, #FFF, #EEE);
	background-image: linear-gradient(top, #EEE, #FFF, #FFF, #EEE);
	font: 11pt/2 Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	margin: 0; padding: 0;
}

a { color: red; /*#3A0075; */text-decoration: none; position: relative; background-color: #f3f3f3; padding: 0.25em; }
a:hover { text-decoration: underline; }
a:focus { outline: 1px dotted grey; }
a:active { top: 1px; text-decoration: none; }

h2, h3, h4, h5, h6, dt, .tagline {
	font-weight: normal;
	font-family: Vollkorn, Georgia, Times, Times New Roman, serif;
}

h1 { font-size: 2em;    margin: 0 0 .5em 0; }
h2 { font-size: 2em;  margin: 0 0 .5em 0; }
h3 { font-size: 1.25em; margin: 0 0 .5em 0; }
h4 { font-size: 1em;    margin: 0 0 1.12em 0; }
h5 { font-size: .83em;  margin: 0 0 1.5em 0; }
h6 { font-size: .75em;  margin: 0 0 1.67em 0; }

p, blockquote, ul, fieldset, form, ol, dl, dir, menu { margin: 0 0 1em 0; }
dir, menu, dd { margin: 0; }

dt {
	font-size: 1.2em;
	margin: 1em 0 0 0;
}

/**
 * Header styles
 **/

header { padding: 2em; }

header h1 {
	margin: 0;
	line-height: 1em;
	font-size: 6em;
	font-weight: normal;
}

.tagline {
	margin: 8px 0 0 0;
	font-style: italic;
	font-size: 1.5em;
	line-height: 1;
}

#links {
	position: absolute;
	top: 2em;
	right: 2em;
	text-align: right;
}
#links ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#links ul li {
	margin-left: 1em;
	margin-bottom: 0.5em;
}
#links ul li a {
	display: inline-block;
	padding: 0 0.5em;
	margin-top: -1px;
	color: black;
	border-radius: 3px;
	background-color: white;
}

.oftn, .oftn-strong {
	font-family: "OFTN Aller", Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: normal;
	text-rendering: optimizeSpeed;
}
.oftn-strong { font-weight: bold; }

/**
 * Footer styles
 **/
footer {
	color: #666;
	text-align: center;
	clear: left;
	font-size: 10pt;
}


footer ul {
	list-style: none;
	margin-top: .5em;
}

footer ul li {
	display: inline;
}

footer ul li:not(:first-child)::before {
	content: " - "
}

/**
 * Layout
 **/

.panel {
	float: left;
	margin-bottom: 3em;
}
.panel-inner {
	padding: 0 2em;
}

#about { width: 25%; }
#projects { width: 50%; }
#members { width: 25%; }

/**
 * Panel style
 **/

.panel h3 {
	border-bottom: 1px dotted #aaa;
	font-variant: small-caps;
	text-rendering: auto;
}

#projects dd { margin: 0; }
#projects dd p { text-align: justify; }
#projects dl { padding: 0 0 0 3em; margin-bottom: 2em; }

.members_list {
  margin: 0;
  margin-bottom: 1em;
  padding: 0;
  list-style: square inside;
}

/* Android doesn't render background-scroll: fixed very well, here is a hack. */
@media screen and (max-device-width: 480px) {
	body {
		background: white;
	}
}


@media (max-width: 1140px) {
	header h1 { font-size: 5em; }

	#links {
		position: static;
		margin-top: 1em;
		margin-left: -0.5em;
		text-align: left;
	}
	#links ul li {
		float: none;
		display: inline-block;
		margin-bottom: 0;
	}
	#links ul li:first-child {
		margin-left: 0;
	}
	#links ul li a {
		background-color: #f3f3f3;
	}

	#about { width: auto; }
	#about h2 { display: none; }
	#projects { clear: left; width: 50%; }
	#members { width: 50%; }
}

@media (max-width: 960px) {
	header h1 { font-size: 4em; }
	#about { float: none; }
	#projects { float: none; width: auto; }
	#members { float: none; width: auto; }

	#members .members_list {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

@media (max-width: 600px) {
	header h1 { font-size: 3em; }
	.tagline { font-size: 1.2em; }
	#links { display: none; }
	#projects dl { padding: 0; }
	#members .members_list {
		-webkit-column-count: auto;
		-moz-column-count: auto;
		column-count: auto;
	}
}
