.dsamarin { list-style-image: url(https://secure.gravatar.com/avatar/046ed2021abbff1d4d7812ad44dbb4af?s=18&d=mm); }
.devyn { list-style-image: url(https://secure.gravatar.com/avatar/600ad48eea92da6bdab1e6d2b51bf819?s=18&d=mm); }
.eligrey { list-style-image: url(https://secure.gravatar.com/avatar/f43206cf935c8a5d532285c0d67b20d1?s=18&d=mm); }
.gkatsev { list-style-image: url(https://secure.gravatar.com/avatar/dde6f2dd707e8b716aca9b2ba065a798?s=18&d=mm); }
.inimino { list-style-image: url(https://secure.gravatar.com/avatar/e4e997037a6341e7881816db5ef23ba7?s=18&d=mm); }
.yrashk { list-style-image: url(https://secure.gravatar.com/avatar/ae2b294e24fd2e472bfca45ab19050c5?s=18&d=mm); }

.cloudhead { list-style-image: url(https://secure.gravatar.com/avatar/a8a0061962c41735ca87789720da46c8?s=18&d=mm); }
.prophile { list-style-image: url(https://secure.gravatar.com/avatar/d144a5ec0052fb1f57c0feaf6af46289?s=18&d=mm); }
.oksushi { list-style-image: url(https://secure.gravatar.com/avatar/3f74ac9c69ed95340264f2d5125978a2?s=18&d=mm); }
.cmars { list-style-image: url(https://secure.gravatar.com/avatar/092e7cde817d8892bdc30e45a2a82f55?s=18&d=mm); }
.cmr { list-style-image: url(https://secure.gravatar.com/avatar/f012fce9f997ceefa53283631d45de0d?s=18&d=mm); }
.danpalmer { list-style-image: url(https://secure.gravatar.com/avatar/d8f35cebbc045646a733938b9a06bdc6?s=18&d=mm); }
.guy { list-style-image: url(https://secure.gravatar.com/avatar/d458bf7a80855c9461d0a76e8f2c76b9?s=18&d=mm); }
.gf3 { list-style-image: url(https://secure.gravatar.com/avatar/4b0209ae3652cc5a7d53545e759fbe39?s=18&d=mm); }
.guidj0s { list-style-image: url(https://secure.gravatar.com/avatar/755a2bb141e7ac7373f238c4c064b654?s=18&d=mm); }
.tjahan { list-style-image: url(https://secure.gravatar.com/avatar/1bcd914ba2b78ffe51a33f98eaac4514?s=18&d=mm); }
.jeannicolas { list-style-image: url(https://secure.gravatar.com/avatar/025dcca07f3bd8d6fca31e2c601654fb?s=18&d=mm); }
.joelteon { list-style-image: url(https://secure.gravatar.com/avatar/124f068d740698f58710004a1258567b?s=18&d=mm); }
.ImBcmDth { list-style-image: url(https://secure.gravatar.com/avatar/073c9f11f5886ab6418cac4ee1a6f87c?s=18&d=mm); }
.banister { list-style-image: url(https://secure.gravatar.com/avatar/890f7065d081f3a735362b6a1ca74b92?s=18&d=mm); }
.FireFly { list-style-image: url(https://secure.gravatar.com/avatar/e0e2b1f19fb65cadc6e9b9f783acd414?s=18&d=mm); }
.LJHarb { list-style-image: url(https://secure.gravatar.com/avatar/27f5eb444e2d61659e9fde1485dbab97?s=18&d=mm); }
.mynyml { list-style-image: url(https://secure.gravatar.com/avatar/6c2573a4fc20f55bc18e620374e700b9?s=18&d=mm); }
.matjas { list-style-image: url(https://secure.gravatar.com/avatar/24e08a9ea84deb17ae121074d0f17125?s=18&d=mm); }
.micahjohnston { list-style-image: url(https://secure.gravatar.com/avatar/b419f4586b0fc12648bc0a16f8377ed3?s=18&d=mm); }
.Navarr { list-style-image: url(https://secure.gravatar.com/avatar/c2d1cf6ea1c78e886cb6e17a5246444c?s=18&d=mm); }
.drudge { list-style-image: url(https://secure.gravatar.com/avatar/a374b15ca7d8c2333321a540cf73beef?s=18&d=mm); }
.Nuck { list-style-image: url(https://secure.gravatar.com/avatar/16e15c879a1f96042e67af3ea91d8f6d?s=18&d=mm); }
.Sorella { list-style-image: url(https://secure.gravatar.com/avatar/cc113fc3aec00f7d5732a7341b7bfec7?s=18&d=mm); }
.systemfault { list-style-image: url(https://secure.gravatar.com/avatar/32b4e5e27b1c53fa1e16cb220fab366a?s=18&d=mm); }
.russfrank { list-style-image: url(https://secure.gravatar.com/avatar/4f49029f53241a2e35bbedbacf43d3ea?s=18&d=mm); }
.capisce { list-style-image: url(https://secure.gravatar.com/avatar/4818d0b843461c10f5663810aea37c6f?s=18&d=mm); }
.micrypt { list-style-image: url(https://secure.gravatar.com/avatar/1ac33cc7aa5a807fb44c8aa04a7cc1cb?s=18&d=mm); }
.tamatias { list-style-image: url(https://secure.gravatar.com/avatar/932a2894ab0b87aedf239a54ab901efb?s=18&d=mm); }
.Nisstyre { list-style-image: url(https://secure.gravatar.com/avatar/b376df43693e7d2c34f6f37e28b8316c?s=18&d=mm); }
.Yorick { list-style-image: url(https://secure.gravatar.com/avatar/dd867331e27894d12835c7a824a78687?s=18&d=mm); }
.JesseH { list-style-image: url(https://secure.gravatar.com/avatar/eb70a12808b97a7b94ab1d5215053426?s=18&d=mm); }
.dbkaplun { list-style-image: url(https://secure.gravatar.com/avatar/9bdc03943aa2b07a6505aabde9162da3?s=18&d=mm); }
.SwooshyCueb { list-style-image: url(https://secure.gravatar.com/avatar/6bae034ba5462b606ee50c3a2b6d6f73?s=18&d=mm); }
.sohje  { list-style-image: url(https://secure.gravatar.com/avatar/ecc6cf8113ad3b6f41e8ab88665228ff?s=18&d=mm); }